.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.logo-sidebar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.config-div {
    display:flex;
    position:absolute;
    min-width: 100%;
    bottom: 0px;
    justify-content: flex-end;
}

.navbar-toggler:checked {
    background-color: #b6ff00;
}

.top-row {
    min-height: 100px;
    background-color: #F7993E;
    border-bottom: 1px solid #9C8066;
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-dashboard-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20.2 7.8l-7.7 7.7-4-4-5.7 5.7'/%3E%3Cpath d='M15 7h6v6'/%3E%3C/svg%3E");
}

.bi-estoque-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 2L3 6v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V6l-3-4H6zM3.8 6h16.4M16 10a4 4 0 1 1-8 0'/%3E%3C/svg%3E");
}

.bi-cadastros-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2'/%3E%3Ccircle cx='9' cy='7' r='4'/%3E%3Cpath d='M23 21v-2a4 4 0 0 0-3-3.87'/%3E%3Cpath d='M16 3.13a4 4 0 0 1 0 7.75'/%3E%3C/svg%3E");
}

.bi-dollar-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='1' x2='12' y2='23'/%3E%3Cpath d='M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6'/%3E%3C/svg%3E");
}

.bi-registros-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z'/%3E%3Cpath d='M14 3v5h5'/%3E%3Cpath d='M16 13H8'/%3E%3Cpath d='M16 17H8'/%3E%3Cpath d='M10 9H8'/%3E%3C/svg%3E");
}

.bi-config-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12%2C15.5A3.5%2C3.5 0 0%2C1 8.5%2C12A3.5%2C3.5 0 0%2C1 12%2C8.5A3.5%2C3.5 0 0%2C1 15.5%2C12A3.5%2C3.5 0 0%2C1 12%2C15.5M19.43%2C12.97C19.47%2C12.65 19.5%2C12.33 19.5%2C12C19.5%2C11.67 19.47%2C11.34 19.43%2C11L21.54%2C9.37C21.73%2C9.22 21.78%2C8.95 21.66%2C8.73L19.66%2C5.27C19.54%2C5.05 19.27%2C4.96 19.05%2C5.05L16.56%2C6.05C16.04%2C5.66 15.5%2C5.32 14.87%2C5.07L14.5%2C2.42C14.46%2C2.18 14.25%2C2 14%2C2H10C9.75%2C2 9.54%2C2.18 9.5%2C2.42L9.13%2C5.07C8.5%2C5.32 7.96%2C5.66 7.44%2C6.05L4.95%2C5.05C4.73%2C4.96 4.46%2C5.05 4.34%2C5.27L2.34%2C8.73C2.21%2C8.95 2.27%2C9.22 2.46%2C9.37L4.57%2C11C4.53%2C11.34 4.5%2C11.67 4.5%2C12C4.5%2C12.33 4.53%2C12.65 4.57%2C12.97L2.46%2C14.63C2.27%2C14.78 2.21%2C15.05 2.34%2C15.27L4.34%2C18.73C4.46%2C18.95 4.73%2C19.03 4.95%2C18.95L7.44%2C17.94C7.96%2C18.34 8.5%2C18.68 9.13%2C18.93L9.5%2C21.58C9.54%2C21.82 9.75%2C22 10%2C22H14C14.25%2C22 14.46%2C21.82 14.5%2C21.58L14.87%2C18.93C15.5%2C18.67 16.04%2C18.34 16.56%2C17.94L19.05%2C18.95C19.27%2C19.03 19.54%2C18.95 19.66%2C18.73L21.66%2C15.27C21.78%2C15.05 21.73%2C14.78 21.54%2C14.63L19.43%2C12.97Z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #000;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: #9A9A9A;
    color: black;
}

.nav-item ::deep .nav-link:hover {
    background-color: #B3B3B3;
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
