body {
}

.pagina-total {
    background-color: #FFFAF9;
    margin: 0 0 0 0;
}

.data-e-hora .cards {
    display: flex;
    padding: 50px;
}

.card-data, .card-hora{
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    background-color: #D8D8D8;
    height: 200px;
    width: 240px;
}

.dropbtn {
    background-color: #FFFAF9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 150px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
    background-color: #ddd;
    width: 150px;
    font-size: small;
    flex-direction: column;
    z-index: 1;
}

.dropdown-content button {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .dropbtn {
    background-color: #d0cecb;
}